<a href="https://colab.research.google.com/github/Alishahed/python-reference/blob/main/python_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set
### Methods

In [19]:
# initialize empty set
my_set = set()
# add an item to my_set
my_set.add(1)
print(my_set)
my_set.add(2)
print(my_set)
# add more than one item at once
my_set.update([3,4,5,6,7,8,9,10])
print(my_set)
# remove one item
my_set.remove(5)
print(my_set)
# discard is similar to remove but it doesn't raise error if the element is not
# the set.
my_set.discard(5)
print(my_set)
# removing multiple items at the same time.
my_set.difference_update([8,10])
print(my_set)

{1}
{1, 2}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 6, 7, 9}

In [20]:
set_a = set()
set_a.update([1,2,3,4,5,6])
print(set_a)
set_b = set()
set_b.update([4,5,6,7,8,9,10])
print(set_b)

# intersection of two set
set_a.intersection(set_b)
print(set_a) # it doesn't change set_a
intersect_a_b = set_a.intersection(set_b)
print(intersect_a_b)

# union of two sets
set_a.union(set_b)
print(set_a) # it doesn't change set_a
union_a_b = set_a.union(set_b)
print(union_a_b)

# difference of two sets
set_a.difference(set_b)
print(set_a) # it doesn't change set_a
diff_a_b = set_a.difference(set_b)
print(diff_a_b)
diff_b_a = set_b.difference(set_a)
print(diff_b_a)

# items that are in either sets but not both
diff_a_b_sym = set_a.symmetric_difference(set_b)
print(diff_a_b_sym)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6}
{1, 2, 3}
{8, 9, 10, 7}
{1, 2, 3, 7, 8, 9, 10}

In [24]:
set_a = set()
set_a.update([1,4,5,6,7])
print(set_a)
set_b = set()
set_b.update([4,5,6,7,8,9,10])
print(set_b)
# check if the intersection of the sets are empty
is_intersection_empty = set_a.isdisjoint(set_b)
print(is_intersection_empty)

# Check if ALL elements of set_a also are set_b
is_subset = set_a.issubset(set_b)
print(is_subset)

# Check if ALL elements of set_b also are set_a
is_superset = set_b.issuperset(set_a)
print(is_superset)

{1, 4, 5, 6, 7}
{4, 5, 6, 7, 8, 9, 10}
False
False
False

In [26]:
# remove items from set_a that are not in the intersection of set_aand
#set_b
set_a.intersection_update(set_b)
print(set_a)
# remove all the items that are not in symmetric_difference
set_a.symmetric_difference_update(set_b)
print(set_a)

{4, 5, 6, 7}
{8, 9, 10}